@import '../styles/variables.scss';

@keyframes Pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

main {

    .about-us {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        color: $background;
        margin-bottom: 12dvh;
    }

    .hidden {
        opacity: 0;
        /* Escondido inicialmente */
        filter: blur(15px);
        transition: all 1s;
        transform: translateX(-100%);
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transition: all 2s;
        transform: translateX(0);
    }

    .container {
        margin-top: 7dvh;
        display: flex;
        margin-left: 5dvh;
        margin-right: 5dvh;

        .img-container {
            flex: 1;

            .pizza-img {
                max-width: 100%;
                height: auto;
                border-radius: 3dvh;
            }
        }

        .text-container {
            display: flex;
            flex-direction: column;
            flex: 1;

            .secondary-title {
                text-align: center;
                font-family: 'Open Sans', serif;
                font-size: 2.8rem;
                text-align: center;
                margin-top: 7dvh;
                margin-bottom: 10dvh;
                color: $background;
            }

            .secondary-text {
                text-align: center;
                line-height: 2rem;
                font-family: 'Open Sans', serif;
                font-size: 1.3rem;
            }

            .menu-btn {
                margin-top: 6dvh;
                margin: auto;
                height: 8dvh;
                width: 34dvh;
                border: none;
                cursor: pointer;
                background-color: $red;
                border-radius: 4dvh;
                color: $white;
                font-family: 'Open Sans', serif;
                font-size: 1rem;
                animation: Pulse 1.5s infinite ease-in-out;
            }

            .menu-btn:hover {
                background-color: $orange;
            }
        }
    }

    .menu-container {
        h3 {
            text-align: center;
            margin-top: 10dvh;
            margin-bottom: 5dvh;
            font-family: 'Open Sans', serif;
            font-size: 2.6rem;
            color: $background;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .card {
                margin: auto;

                .card-img {
                    display: flex;
                    flex-direction: column;

                    .card-img-pizza {
                        height: 30dvh;
                        width: 40dvh;
                        object-fit: cover;
                        border-radius: 2dvh;
                        margin-bottom: 2dvh;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }
                }

                .card-title {
                    margin-bottom: 2dvh;

                    h4 {
                        color: $red;
                        font-family: 'Open Sans', serif;
                        font-size: 1.1rem;
                        text-align: center;
                    }
                }

                .card-paragraph {
                    p {
                        margin-bottom: 3dvh;
                        font-family: 'Open Sans', serif;
                        font-size: 1rem;
                        text-align: center;
                        color: $background;
                        line-height: 1.5rem;
                    }
                }

                .card-btn {
                    display: flex;
                    margin-bottom: 3dvh;

                    .order-button {
                        margin: auto;
                        height: 5dvh;
                        width: 20dvh;
                        border: none;
                        background-color: $red;
                        color: $white;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 1rem;
                        border-radius: 2dvh;
                        cursor: pointer;
                        animation: Pulse 1.5s infinite ease-in-out;
                    }

                    .order-button:hover {
                        background-color: $orange;
                    }
                }
            }
        }
    }

    .desserts {
        margin-top: 8dvh;
        margin-bottom: 5dvh;

        h5 {
            text-align: center;
            font-family: 'Open Sans', serif;
            font-size: 2.5rem;
            color: $background;
            margin-bottom: 10dvh;
        }

        .card-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .card-image {
                display: flex;

                .card-image-desserts {
                    width: 30dvh;
                    height: 30dvh;
                    object-fit: cover;
                    margin: auto;
                    border-radius: 2dvh;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .container {
        display: flex !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

@media screen and (max-width: 480px) {
    .card-grid {
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        margin-bottom: 2dvh !important;
    }
}

@media screen and (max-width: 480px) {
    .card-image-desserts {
        margin-bottom: 2dvh !important;
    }
}